.LatestNews {
  position: relative;
  padding: 50px;
  overflow: hidden;
  background: linear-gradient(45deg, #393f46, #2b2d39);
  @media screen and (max-width: 850px) {
    padding: 70px 20px 60px 20px;
  }
  h2 {
    font-size: clamp(2rem, 10vw, 10rem);
    height: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px #c2c6be;
    text-stroke: 1px #c2c6be;
    font-weight: 800;
    margin-bottom: 10px;
    display: flex;
    margin-top: 0;
    font-family: "NunitoSans", sans-serif !important;
    padding-top: 20px;
    justify-content: center;
    @media screen and (max-width: 1065px) {
      font-size: clamp(2rem, 15vw, 10rem);
    }
    @media screen and (max-width: 760px) {
      -webkit-text-stroke: 1px #c2c6be88;
      text-stroke: 1px #c2c6be88;
      top: 0px;
      left: 40px;
      position: absolute;
    }
    @media screen and (max-width: 490px) {
      top: 10px;
      left: 20px;
    }
    img {
      max-width: 80px;
      width: 100%;
      border-radius: 999px;
      object-fit: cover;
      margin-right: 15px;
      @media screen and (max-width: 1135px) {
        max-width: 60px;
      }
      @media screen and (max-width: 720px) {
        max-width: 50px;
      }
      @media screen and (max-width: 465px) {
        max-width: 40px;
      }
    }
  }
  h3 {
    font-size: clamp(1rem, 10vw, 2rem);
    background: linear-gradient(0deg, #837b7b, #ffffff);
    height: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800;
    margin-top: -130px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    position: relative;
    z-index: 3;
    @media screen and (max-width: 500px) {
      font-weight: 900;
      line-height: 1;
    }
    @media screen and (max-width: 1380px) {
      margin-top: -100px;
    }
    @media screen and (max-width: 1065px) {
      margin-top: -130px;
    }
    @media screen and (max-width: 979px) {
      margin-top: -100px;
    }
    @media screen and (max-width: 760px) {
      margin-top: 120px;
    }
    @media screen and (max-width: 665px) {
      margin-top: 100px;
    }
    @media screen and (max-width: 600px) {
      margin-top: 80px;
    }
    @media screen and (max-width: 490px) {
      display: inline-block;
      font-size: clamp(1rem, 10vw, 2.4rem);
      margin-top: 60px;
      span {
        position: relative;
        img {
          position: absolute;
          top: 5px;
          width: 35px;
          left: 10px;
        }
      }
    }

    @media screen and (max-width: 455px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 390px) {
      margin-top: 35px;
    }
    @media screen and (max-width: 365px) {
      margin-top: 28px;
    }
    img {
      max-width: 40px;
      width: 100%;
      border-radius: 999px;
      object-fit: cover;
      margin-right: 15px;
    }
  }
  .cards {
    margin-top: 100px;
    display: flex;
    overflow: auto;
    width: 100%;
    @media screen and (max-width: 800px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 520px) {
      margin-top: 0px;
    }
    .card {
      display: flex;
      gap: 40px;
      align-items: start;
      min-width: 100%;
      &.is-reverse {
        flex-direction: row-reverse;
      }
      @media screen and (max-width: 900px) {
        flex-direction: column;
        &.is-reverse {
          flex-direction: column;
        }
      }
      .img {
        width: 100%;
        img {
          max-width: 100%;
          width: 100%;
          border-radius: 20px;
          aspect-ratio: 2/1.5;
          object-fit: cover;
          user-select: none;
          pointer-events: none;
        }
      }
      .text {
        color: #fff;
        width: 100%;
        height: 100%;
        position: relative;
        p {
          width: 100%;
          line-height: 1.4;
          font-size: 18px;
          &:first-child {
            padding-top: 0;
            margin-top: 0;
          }
          @media screen and (max-width: 1325px) {
            font-size: 16px;
          }
          @media screen and (max-width: 1054) {
            font-size: 14px;
          }
        }
        span {
          position: absolute;
          bottom: 10px;
          right: 10px;
          font-size: 14px;
        }
      }
    }
  }
  button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 999px;
    font-size: 20px;
    color: #adb6c4;
    background-color: #525f6d;
    cursor: pointer;
    margin-top: 20px;
    transition: opacity 0.12s ease-in-out, background-color 0.12s ease-in-out;
    &:not(.isDisabled):hover {
      background-color: #5f6e7e;
    }
    &.isDisabled {
      opacity: 0.5;
      cursor: default;
    }
  }
  button:not(:first-child) {
    margin-left: 7px;
  }
  .loadingBlock {
    width: 100%;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393f46;
    color: #fff;
    font-size: 20px;
  }
}
